body{
			background-color: #000000;

	.px{
		color : #FF1493;
	    }

	#nome_da_gi{
				color : blueviolet;
		
				}

	.py{
			font-size: 40px;
		
		}
	
	#final{

	margin-top: 1500px;
	margin-bottom: 100px;
	margin-right: 55px;
	margin-left: 55px;
	text-align: center;
		color: #87CEFA;
	}
	

